<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

  <display-name>Archetype Created Web Application</display-name>
    
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    
    <listener>
        <listener-class>listeners.ContextInitListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controllers.HomeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>StudentsListController</servlet-name>
        <servlet-class>controllers.StudentsListController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentsListController</servlet-name>
        <url-pattern>/stud_list</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DisciplinesListController</servlet-name>
        <servlet-class>controllers.DisciplinesListController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisciplinesListController</servlet-name>
        <url-pattern>/disc_list</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SemestersListController</servlet-name>
        <servlet-class>controllers.SemestersListController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SemestersListController</servlet-name>
        <url-pattern>/sem_list</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MarksShowingController</servlet-name>
        <servlet-class>controllers.MarksShowingController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MarksShowingController</servlet-name>
        <url-pattern>/mark_list</url-pattern>
    </servlet-mapping>

</web-app>